/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset */

/* rooter */
:root{
    --orange: #e59c14;
    --bg: #010101;
}

/* untuk efek scrool */
html {scroll-behavior: smooth;}


/* header css */
.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    background-color: black;
    border-bottom: 1px var(--orange) solid;
}
.logo {
    height: 60px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
.navbar > a{
    display: inline-block;
    text-decoration: none;
    width: 150px;
    text-align: center;
    color: #ffff;
    font-size: 24px;
}
.navbar {
    margin-right: 80px;
}

/* home page */
.home-page {
    border-top: var(--bg) 2px solid;
    width: 100%;
    height: 90vh;
    background-image: url(../gambar/conpany.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 100px;
    border-bottom: var(--bg) solid 4px;
}
.home {
    width: 90%px;
    height: 500px;
    margin-top: 60px;
}
/* banner */
.banner-home {
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.banner-home img {
    width: 900px;
    height: 400px;
    position: relative;
    bottom: -100px;
    border-radius: 20px;
    outline: solid var(--orange) 5px;
    
}

/* article di home page */
.article-home {
   display: flex;
   flex-direction: column;
   margin-left: 50px;
}
.article-home h1  {
    color: #ffff;
    font-size: 45px;
    margin-bottom: 30px;
    font-weight: bolder;
}
.article-home p {
    color: #ffff;
    font-size: 24px;
}
.article-home span {
    color: var(--orange);
}
/* a mau dibuat tombol */
.article-home a {
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    top: 300px;
    left: 100px;
    

    font-size: 20px;
    width:150px ;
    height: 50px;

    text-decoration: none;
    color: #ffff;
    background-color: var(--orange);
    border-radius: 10px;
}
/* banner */


/* profile */

#profile {
    position: absolute;
    top: 180px;
    right: 42%;
    font-size: 40px;
}
.profile-page {
    position: relative;
    width: 100%;
    height: 110vh;
    border-bottom: var(--bg) solid 4px;
    background-image: url(../gambar/gurun.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    color: white;
}
.profile{
    margin-top: 200px;
    /* outline: 1px solid black; */
    display: flex;
}

/* bagian visi misi */
.visi-misi {
    width: 50%;
    height: 100%;
    color: white;
    position: relative;
    /* outline: blue 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.visi,.misi {
    margin-bottom: 40px;
    width: 90%;
    /* outline: 1px orange solid; */
    text-align: center;
}
.visi>h1,.misi >h1{
    display: inline-block;
    font-size: 40px;
    text-transform: uppercase;
}
.visi>p ,.misi ol li{
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
}


/* .misi >h1 {} */
.misi ol li {
    text-align: left;
}

/* visi misi end */

/* profile-company */

.company-info {
    top: 0;
    right: 10px;
    /* outline: #ffff solid 2px;  */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:  center;
} 

.cabang-company,.personel {
    /* outline: 4px red solid; */
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.cabang,.ceo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ffff;
}
/* .ceo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffff;
} */
.cabang-company h1 {
    position: absolute;
    top: 30%;
    font-size: 40px;
}
.personel h1 {
    position: absolute;
    bottom: 32%;
    font-size: 40px;
}
/* profil-company-end */

/* profile-end */


/* portofolio */
.porto-page{
    width: 100%;
    height: 100vh;
    border-bottom: var(--bg) solid 4px;
    background-image: url(../gambar/jalanan-kota.jpg);
    background-size: cover;
    position: relative;
    padding-top:100px ;
    color: #ffff;
    text-transform: capitalize;
}
.portofolio {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
/* area left */
.area-left-porto ,.area-right-porto {
    width: 50%;
    height: 100%;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-porto>p ,.testimoni-porto>p{
    background-color: #ffff;
    color: #010101;
    padding: 20px;
    border-radius: 20px;
    outline: solid 5px var(--orange);
    font-size: 24px;
}

.testimoni-porto>p:nth-child(2) {
    margin-bottom: 30px;
}
/* area left end*/


/* area right*/

.layanan-porto>ul,.proyek-porto>ul {
    background-color: #ffff;
    color: #010101;
    padding: 20px;
    border-radius: 20px;
    outline: solid 5px var(--orange);
    font-size: 16px;
    list-style:disc;
}


/* area right end*/





.layanan-porto>h1 ,.proyek-porto>h1,.about-porto>h1,.testimoni-porto>h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.about-porto,.testimoni-porto,.layanan-porto,.proyek-porto {
    margin-bottom: 40px;
}

/* portofolio-end */

/* message-us */
.message-page {
    position: relative;
    display: flex;
    padding: 150px 100px 100px 50px;
    color: var(--bg);
    font-size: 24px;
    background-image: url(../gambar/kota.jpg);
    background-size: cover;
    
}
.value-form {
    border: #010101 solid 2px;
    width: 600px;
    height: 400px;
    margin-left: 200px;
    background-color: white;
    outline: solid var(--orange) 3px;
    border-radius: 20px;
    
    
}

.form p {
    display: inline-block;
}
.form form label,.form form .radio p  {
    display: inline-block;
    width: 150px;
    outline: 1px black solid;
    padding:  10px;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    background-color: white;
    outline: solid var(--orange) 3px;
    text-align: center;
}
.form form p input {
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    outline: solid var(--orange) 3px;
}
.form form .radio label {
    width:80px ;
}
/* tombol submit */
#submit-message {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-left: 180px;
    background-color: white;
    outline: var(--orange) 2px ;
    border-radius: 20px;
    border: none ;
    outline: solid var(--orange) 3px;
    font-size: 20px;
}
/* H1 / judul form */
.form>h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--orange);
}
/* textarea */
#pesan {
    border-radius: 20px;
    border: ridge black 2px;
    outline: solid var(--orange) 3px;
    padding: 10px;
}
/* Judul page dan control pannel */
.message-page >h1 {
    position: absolute;
    top: 30px; 
    right: 47%;
    z-index: 99;
    font-size: 50px;
    font-weight: bolder;
    color: var(--orange);
} 


/* Foter */
.footer {
    height: 100px;
    width: 100%;
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-nav a{
    text-decoration: none;
    color: #ffff;
    margin: 20px;
}
.note {
    font-size: 16px;
    margin-top: 30px;
    color: #ffff;
}
.note h1 span {
    color: var(--bg);
}







/* animasi tombol */

/* navbar */
/* saya ambil dari sumber lain */
.navbar>a::after {
    content: '';
    display: block;
    padding-bottom: 0.4rem;
    border-bottom: solid 0.1rem var(--orange);
    transform: scaleX(0);
    transition: 0.2s linear;
}
.navbar a:hover::after {transform: scaleX(0.5);} 
.navbar>a:hover {
    color: var(--orange);
}
.navbar >a {
    transition: 0.2s;
}
/* navbar-end */

/* home */
.article-home a:hover {
    background-color: #ffff;
    color: black;
}
/* home-end */

/* message */
.form form  label:hover{
    background-color: var(--orange);
}
 #pesan:hover{
    border: blue 3px ridge;
}
.form form input:hover {
    border: blue 2px solid;
}
#submit-message:hover {
    background-color: var(--orange);
}
/* message-end*/

/* footer */
.footer-nav a:hover {
    color: var(--bg);
}
/* footer-end */

